desktop.ini
build
build_*
CMakeLists.txt.user*
cmake-build-debug
config.cmake
sdkconfig
sdkconfig.old*
.idea
.ccache
.vscode
managed_components
yarn-*.log
/main/communication/webserver_files.h
node_modules
